@model GestaoS.Models.Filial

@{
    ViewData["Title"] = "Edit";
}

<style>
    
    /*.row {
        font-size: 10px;
    }*/
</style>

<h1>Editar</h1>

<h4>Filial</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cep" class="control-label"></label>
                <input asp-for="Cep" class="form-control" id="cep" />
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>
            <div id="aguarde">
                <div id="load">
                    <img src="~/images/ajax-loader (1).gif" />
                </div>

            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" id="endereco" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" id="bairro" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" id="cidade" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UF" class="control-label"></label>
                <input asp-for="UF" class="form-control" id="estado" />
                <span asp-validation-for="UF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" id="tel" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fa fa-rotate-left fa-fw" aria-hidden="true"></i>Voltar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


<script type="text/javascript">

    $('#IdFilialBusca').change(function () {
        var idFilial = $('#IdFilialBusca').val();

        if (idFilial > 0) {

            $.ajax({
                url: '/SiteGestaoS/LocaEquipamentoes/ObterSala/',
                type: "GET",
                dataType: "json",
                data: {
                    idFilial: idFilial
                },
                success: function (data) {

                    if (data.length > 0) {

                        for (var i = 0; i < data.length; i++) {

                            $('#IdSalaBusca').empty();
                            // $('#IdSalaBusca').append('<option value="' + data[i].id + '">' + data[i].nome + '</option>');

                            $("#IdSalaBusca").append('<option value=0>Selecione uma Sala</option>');
                            $(data).each(function () {
                                $("#IdSalaBusca").append($('<option></option>', { value: this.id }).html(this.nome));
                            });

                        }

                    }
                },


                error: function (data) {
                    // em caso de erro...
                    console.log(error);
                },

                complete: function () {
                    // ao final da requisição...
                    $("#carregando").hide();
                }


            });
        }

    });


</script>
}
