@model GestaoS.Models.PerfilUsuario

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>

<h4>Perfil de Usuário</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdTipoUsuario" class="control-label">Perfil</label>
                <select asp-for="IdTipoUsuario" class="form-control" asp-items="ViewBag.IdTipoUsuario"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fa fa-rotate-left fa-fw" aria-hidden="true"></i>Voltar a lista</a>
</div>



<br />

<div id="Box_Perfil"class="card">
    <div id="demo_icon">
        <img id="mostraEsconde" data-toggle="collapse" data-target="#demo" data onclick="trocar()" src="~/images/icons/mais.png">
        Usuários sem Perfis
    </div>
    <div id="demo" class="collapse in">
        @{
            foreach (var item in ViewBag.ListaSemPerfil)
            {
                <ul id="lisPerfil">

                    <li>@item.NOMECOMPLETO</li>
                </ul>
            }
        }

    </div>
</div>

<br />


@section Scripts {
                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

                        <script type="text/javascript">
                            $('.collapse').collapse();
                        </script>

                        <script type="text/javascript">

                            var currentImgIndex = 1;
                            var ImgSrcArray = [ //caminho das suas imgs aqui
                                '/images/icons/menos.png',
                                '/images/icons/mais.png'


                            ];

                            function trocar() {

                                if (currentImgIndex == ImgSrcArray.length) //reseta quando o contatador for igual ao tamanho da array e volta a 1° img
                                {
                                    currentImgIndex = 0;
                                }
                                document.getElementById("mostraEsconde").src = ImgSrcArray[currentImgIndex]; //altera a img do elemento "agni" de acordo com o indice
                                currentImgIndex++; // incrementa a nossa referencia

                            }
                        </script>
                    }
