@model GestaoS.Models.LocaSala

@{
    ViewData["Title"] = "Create";
}

<h1>Locação de Sala</h1>

@*<h4>LocaSala</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdFilial" class="control-label">Filial</label>
                <select asp-for="IdFilial" id="IdFilialBusca" asp-items="(IEnumerable<SelectListItem>)ViewBag.IdFilial" class="form-control">
                    <option value="">Selecione uma Filial</option>
                </select>
                <span asp-validation-for="IdFilial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSala" class="control-label">Sala</label>
                <select id="IdSalaBusca" asp-for="IdSala" class="form-control"></select>
                <span asp-validation-for="IdSala" class="text-danger"></span>
            </div>
            <div class="form-group date">
                <label asp-for="DtInicio" class="control-label"></label>
                <input asp-for="DtInicio" type="text" class="form-control" id="DataLocacao" />
                <span asp-validation-for="DtInicio" class="fa fa-calendar" id="spanCalendar"></span>
            </div>
            <div class="form-group date">
                <label asp-for="DtFim" class="control-label"></label>
                <input asp-for="DtFim" type="text" class="form-control" id="DataFim" />
                <span asp-validation-for="DtFim" class="fa fa-calendar" id="spanCalendar"></span>
            </div>
            <div class="form-group ">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelResponsavel" class="control-label"></label>
                <input asp-for="TelResponsavel" class="form-control" id="tel" />

                <span asp-validation-for="TelResponsavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Setor" class="control-label"></label>
                <input asp-for="Setor" class="form-control" />
                <span asp-validation-for="Setor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cradastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fa fa-rotate-left fa-fw" aria-hidden="true"></i>Voltar a lista</a>
</div>



<div class="modal fade" id="AlertData" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="ConteudoModal">

                    <div id="TextAlertData"></div>


                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">


        $(function () {
            $('#DataLocacao').datepicker({

                format: 'dd/mm/yyyy',
                ////dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo'],
                ////dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                ////dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                ////monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                ////monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                language: "pt-BR",
                startDate: '+0'
            });

        });

        $(function () {

            $('#DataFim').datepicker({

                format: 'dd/mm/yyyy',
                ////dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo'],
                ////dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                ////dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                ////monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                ////monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                language: "pt-BR",
                startDate: '+0'
            });
        });


    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#IdSalaBusca').change(function () {

                var IdSala = $('#IdSalaBusca').val();
                $('#DataLocacao').change(function () {

                    var DtLocacao = $('#DataLocacao').val();

                    console.log(IdSala);
                    console.log(DtLocacao);
                    if (IdSala > 0) {

                        $.ajax({
                            url: '/SiteGestaoS/LocaSalas/DataLocacaoSala/',
                            type: "GET",
                            dataType: "json",
                            data: {
                                idSalaData: IdSala,
                                DataLocacao: DtLocacao
                            },
                            success: function (data) {


                                if (data.length > 0) {
                                    console.log(data[0].DATA_DISPONIVEL);

                                    var Disponivel = data[0].DATA_DISPONIVEL


                                    //if (Disponivel > quantiEqui) {



                                    //}
                                    //else {

                                    //var dataL = new Date(Disponivel).toLocaleString('pt-BR').split(' ');
                                    //alert('A próxima data que esta sala estará liberada é: ' + dataL[0]);

                                    //}


                                    $(function () {
                                        var dataL = new Date(Disponivel).toLocaleString('pt-BR').split(' ');
                                        $('#TextAlertData').text("A próxima data que esta sala estará liberada é: " + dataL[0]);
                                        $('#AlertData').modal('show');
                                        //$('#DataLocacao').empty();
                                        $('#DataLocacao').val() + 1;

                                    });




                                }


                            },


                            error: function (data) {
                                // em caso de erro...
                                console.log(error);
                            },

                            complete: function () {
                                // ao final da requisição...
                                $("#carregando").hide();
                            }


                        });
                    }

                });
            });
        });








        $('#IdSalaBusca').change(function () {

            var IdSala = $('#IdSalaBusca').val();
            $('#DataFim').change(function () {

                var DtLocacao = $('#DataFim').val();

                console.log(IdSala);
                console.log(DtLocacao);
                if (IdSala > 0) {

                    $.ajax({
                        url: '/SiteGestaoS/LocaSalas/DataLocacaoSalaFim/',
                        type: "GET",
                        dataType: "json",
                        data: {
                            idSalaData: IdSala,
                            DtFimLocacaoS: DtLocacao
                        },
                        success: function (data) {


                            if (data.length > 0) {
                                console.log(data[0].DATA_DISPONIVEL);

                                var Disponivel = data[0].DATA_DISPONIVEL


                                //if (Disponivel > quantiEqui) {



                                //}
                                //else {

                                //var dataL = new Date(Disponivel).toLocaleString('pt-BR').split(' ');
                                //alert('A data fim que está sala estará liberada é: ' + dataL[0]);

                                $(function () {
                                    var dataL = new Date(Disponivel).toLocaleString('pt-BR').split(' ');
                                    $('#TextAlertData').text("A data fim que está sala estará liberada é: " + dataL[0]);
                                    $('#AlertData').modal('show');
                                    //$('#DataLocacao').empty();
                                    //$('#DataLocacao').val() + 1;

                                });

                            }


                        },


                        error: function (data) {
                            // em caso de erro...
                            console.log(error);
                        },

                        complete: function () {
                            // ao final da requisição...
                            $("#carregando").hide();
                        }


                    });
                }

            });
        });





    </script>
 }